body {
  background-color: maroon;
}

.square {
  padding: 5px;
}

.tile {
  background-color: tan;
  height: 200px;
}

.number {
  pointer-events: none;
  font-size: 80px;
}

.invisible {
  display: none;
}
