body {
  background-color: maroon;
}

.header-text {
  color: tan;
}

.hidden {
  visibility: hidden;
}

#victory, #new-game {
  height: 100px;
  color: #29ABE2;
}

#new-game {
  margin: 0 auto;
}

.glow {
  box-shadow: 0 0 25px 5px #29ABE2;
}

.square {
  padding: 5px;
}

.tile {
  background-color: tan;
  height: 200px;
}

.number {
  pointer-events: none;
  font-size: 80px;
}

.invisible {
  display: none;
}
